@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Arial', Helvetica, sans-serif;
  @apply text-base sm:text-sm lg:text-lg; /* Definindo tamanhos de texto responsivos */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Responsividade do Container */
.container {
  @apply mx-auto px-4 sm:px-6 md:px-8 max-w-screen-xl; /* Padronizando o padding e max-width */
}

/* Responsividade de largura para dispositivos */
@media (max-width: 640px) {
  .container {
    @apply px-4; /* Padding para dispositivos pequenos */
  }
}

@media (min-width: 640px) {
  .container {
    @apply max-w-screen-sm; /* Para dispositivos médios */
  }
}

@media (min-width: 1024px) {
  .container {
    @apply max-w-screen-md; /* Para dispositivos maiores */
  }
}
